<ul>
  <li><%= link_to '首页', index_url %></li>
  <li><%= link_to '论坛', :controller => 'forums', :action => 'index' %></li>
  <li><%= link_to '博客', blogs_path %></li>
  <li><%= link_to '相片', photos_path %></li>
  <li><hr size="1" width="90%" align="left"/></li>

  <% if is_logged_in? %>
    <li>我的昵称: <i><%= link_to logged_in_user.username, user_path(logged_in_user) %></i></li>
    <li><%= link_to '帐户中心', edit_user_path(logged_in_user) %></li>
	<li><%= link_to '像册', user_albums_path(logged_in_user) %>(<%= logged_in_user.albums_count %>)</li>
    <li><%= link_to '登出', {:controller => 'account', :action => 'logout'}, 
                               :method => :post %></li>
  <% else %>
    <li><%= link_to '注册', :controller => 'users', :action => 'new' %></li>
    <li><%= link_to '登陆', :controller => 'account', :action => 'login' %></li>
  <% end %>        	

  <% if logged_in_user and logged_in_user.has_role?('administrator') %>
    <li><hr size="1" width="90%" align="left"/></li>	
    <li><b>Admin Options</b></li>
    <li><%= link_to '管理站内用户', users_path %></li>      
    <li><%= link_to '管理站点新闻', pages_path %></li>	
  <% end %>
</ul>
